html {
  height: 100%;
  width: 100%;
}

#flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

@media (max-width: 768px) {
  #flex-container {
    flex-direction: column;
  };
}